<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="ls-alert-danger ls-dismissable" th:if="${#fields.hasAnyErrors()}" th:fragment="alert">
	<span data-ls-module="dismiss" class="ls-dismiss">&times;</span>
	
	<th:block th:each="detailedError : ${#fields.detailedErrors()}">
		<strong>Atenção!</strong>
		<span th:text="${detailedError.message}"></span>
	<br/>
	</th:block>
</div>

</html>